In [7]:
um = """
Hello,

This can be used for emails and stuff

:|
"""
print(um)

Hello,

This can be used for emails and stuff

:|

Strings

In [ ]:
course="Python"
print(len(course))
print(course[0]) #first character
print(course[-1]) #last character
print(course[0:3]) #upto third character
print(course[:3]) 
print(course[0:])

6
P
n
Pyt
Pyt
Python

Escape Characters

In [11]:
py = "There is a double quotation in here \" see!" #can be \", \', \\
print(py)
py1 = "Hello \nWho are you?"
print (py1)

There is a double quotation in here " see!
Hello
Who are you?

Formatted Strings

In [13]:
v1 = "hello"
v2 = "there"
v3 = v1+v2
v4 = f"{v1} {v2}"
print(v3)
print(v4)

hellothere
hello there

String Methods

In [18]:
astring = " This is a python course"
print(astring.upper())
print(astring.lower())
print(astring.title())
print(astring.strip()) #remove space
print(astring.find("pyt")) #gives index output
print("pyt" in astring) #returns boolean

 THIS IS A PYTHON COURSE
 this is a python course
 This Is A Python Course
This is a python course
11
True

Numbers

In [19]:
#arithmetic operations
print(10+2) #-,*,/,//,%,**
x = 20
x += 3
print(x)

12
23

Working with Numbers

In [21]:
import math 
print(round(3.6))
print(abs(-90.08))
print(math.ceil(4.5))

4
90.08
5

Type Conversion

In [ ]:
x = input("Write a random number")  #input is taken as a string so shows an error if no type conversion done
y = int(x)+1  #type converting string->int
print(y)

#false values in boolean for type conversion: "",0, None

4

Comparison Operators

In [ ]:
print(9>3)
print(6==8)
print("bag" > "apple") #bag comes after apple
print("bag" == "BAG") #diff values

True
False
True

Conditional Statements

In [29]:
i = 10
if i > 9:
    print("I am greater than 9")
else: 
    print("Not greater than 9")

I am greater than 9

Ternary operator

In [ ]:
grade = 'A' 
result = "Pass" if grade == 'A' else "Fail" #ternary operator
print(result)

Pass

Logical Operator

In [34]:
#and , or
boy = True
girl = False
parent = False
if (boy or girl) and not parent:
    print("Either one of them")
else:
    print("None")

Either one of them

Short-Circuit Evaluations

In [37]:
print(False and True and True) #stops at False
print(True or False or False) #stops at true

False
True

Chaining Comparison Operators

In [38]:
i=3
if 0<i<6:
    print("I am between 0 and 6")

I am between 0 and 6

For Loops

In [40]:
for number in range(3):
    print("HI", number)

HI 0
HI 1
HI 2

In [42]:
for number in range (1,3):
    print("HI", number)

HI 1
HI 2

For..Else

In [44]:
successful = False
for n in range (3):
    print("Hi")
    if successful:
        print("Success")
        break
else:
    print("tried 3 times and failed")

Hi
Hi
Hi
tried 3 times and failed

Nested Loops

In [46]:
for x in range(2):
    for y in range(3):
        print(f"({x} {y})")

(0 0)
(0 1)
(0 2)
(1 0)
(1 1)
(1 2)

Iterables

In [49]:
#complex type-range  
# range and string are iterable
for x in "Nikki":
    print(x)
for x in [1,2,3]:
    print(x)

N
i
k
k
i
1
2
3

While Loop

In [50]:
i = 0
while i<3:
    print(i)
    i += 1

0
1
2

Infinite Loops

In [53]:
while True:
    x = input("")
    if x.lower() == "quit":
        break

Defining Functions

In [55]:
def my_function():
    print("I AM IN MY FUNCTION")

my_function()

I AM IN MY FUNCTION

Arguments

In [57]:
def my_function(i,j):
    print(f"I AM IN MY FUNCTION {i} {j}")

my_function(1,2)

I AM IN MY FUNCTION 1 2

Types of Function

In [60]:
#1 - performs a task
#2 - returns a value
def func(val):
    print(val)

def funct(val):
    return val

func(1)
print(funct(2))

1
2

Keyword Argument

In [62]:
def increement(no1, by):
    return no1 + by

print(increement(1, by=1))

2

Default Argument

In [66]:
#dont need to pass some default arg
# should come after req parameters
def add (no1, no2= 4):
    return(no1+no2)

add(2)

6

*args

In [68]:
def add(*no): #tuple and these are iterable
    sum = 0
    for i in no:
        sum += i
    return sum

add(1,2,3,4)

10