In [1]:
# Variables
num = 42
pi = 3.14
text = "HelloPy"
lst = [1,2,3]
tup = (4,5,6)
dct = {"n":"Ari","a":20}
st = {7,8,9}

print(num, pi, text)
print(lst, tup, dct, st)

42 3.14 HelloPy
[1, 2, 3] (4, 5, 6) {'n': 'Ari', 'a': 20} {8, 9, 7}

In [2]:
# Input/Output
name = input("Name: ")
age = int(input("Age: "))
print(f"Hi {name}, age {age}")

Name: jeebesh
Age: 20
Hi jeebesh, age 20

In [3]:
# Conditional
if age >= 18:
    print("Adult")
elif age >= 13:
    print("Teen")
else:
    print("Child")

Adult

In [4]:
# For loop
print("For loop:")
for x in range(1,6):
    print(x)

For loop:
1
2
3
4
5

In [5]:
# While loop
print("While loop:")
c = 1
while c <= 5:
    print(c)
    c += 1

While loop:
1
2
3
4
5

In [6]:
# Iterations
x = [10,20,30]
it = iter(x)
print("Iterations:")
while True:
    try:
        print(next(it))
    except StopIteration:
        break

Iterations:
10
20
30

In [7]:
# Functions
def hi():
    print("Welcome")

hi()

def add(a,b):
    return a+b

print("Sum:", add(5,3))

def fac(n):
    r = 1
    for i in range(1,n+1):
        r *= i
    return r

print("Fac(5):", fac(5))

Welcome
Sum: 8
Fac(5): 120

In [8]:
# Lists and Dicts
fr = ["Mango","Orange","Grape"]
print("Fruits:")
for f in fr:
    print(f)

for i in range(len(fr)):
    print(i+1, fr[i])

person = {"name": "abc", "age": 19, "city": "Kathmandu"}
print(person["name"], person["age"])

for key, value in person.items():
    print(key, ":", value)

Fruits:
Mango
Orange
Grape
1 Mango
2 Orange
3 Grape
abc 19
name : abc
age : 19
city : Kathmandu